table.inner_plan {
    tbody {
        tr:nth-last-child(2) > td {
            border: none !important;
        }
    }
}
.bottom_border_radius {
    border-radius: 0 0 8px 8px;
}
.top_border_radius {
    border-radius: 8px 8px 0 0;
}
.overflow-scroll {
    @media (max-width: 989px) {
        overflow: scroll;
    }
}
.paymentoption {
    left: 0.5rem;
    top: 13rem;
    position: absolute;
    @media (max-width: 989px) {
        left: 50%;
        top: 0;
        position: relative;
        transform: translate(-50%, 0px);
    }
    span {
         color: $Text_White_1;
         font-family: "Gotham-bold";
         font-size: 1rem;
         line-height: 120%;
    }
    .MuiRadio-checked-10 span {
        color: $Orange_500;
    }
    .MuiIconButton-root-18 {
        padding: 8px;
    }
}
.plan_st {
    th {
        min-width: 180px;
    }
}