
$Bg_White_1: #FAFAFA;
$Bg_White_2: #D7D7D7;
$Bg_Dark_1: #504E4C;
$Bg_Dark_2: #23211F;
$Bg_Dark_3: #191715;
$Bg_Dark_4: #0F0D0B;

$Text_White_1: #F5F5F5;
$Text_White_2: #C8C8C8;
$Text_Dark_1: #999999;
$Text_Dark_2: #2D2B29;

$Orange_900: #F24718;
$Orange_500: #F86D4C;
$Orange_100: #FFB3A2;

$Core_Orange: #F1562C;
$Core_Purple: #AC5DD9;
$Core_Green: #57EBA1;

$Box_shadow_1: 0px 0px 2px rgba(0, 0, 0, 0.05);
$Box_shadow_2: 0px 0px 10px rgba(241, 86, 44, 0.5);
$Box_shadow_3: 0px 0px 2px rgba(241, 86, 44, 0.5);

$Box_shadow_4: 0px 0px 10px rgba(241, 86, 44, 0.5), 0px 0px 8px rgba(0, 0, 0, 0.3);
$Box_shadow_5: 0px 0px 5px rgba(0,0,0,0.15);

$Cus_Bg_Dark: rgba(80, 78, 76, 0.3);
$None_color: rgba(0, 0, 0, 0);

